@import url('https://fonts.googleapis.com/css2?family=Comic+Neue&display=swap');
body{
    background: url('./static/Background.png') center center fixed no-repeat;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    font-family: 'Comic Neue', cursive;
}
.banner{
    font-family: 'Comic Neue', cursive;
    width: 99.75vw;
    height: 95vh;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;

    .banner_image{
        margin-top: calc(2.5vh + 2.5vh);
        width: calc(30vh + 30vw);
        opacity: 0;
    }
    .banner_text{
        width: 75%;
        font-size: calc(1.5vh + 1.5vh);
        text-align: center;
        color: white;
    }

    .banner_quote{
        width: 75%;
        font-size: calc(1vh + 1vh);
        text-align: center;
        color: white;
        margin-top: calc(2vh + 2vh);
    }

}
.page_1{
    font-family: 'Comic Neue', cursive;
    height: fit-content;
    max-width: 99.75vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: calc(10vh + 10vh);
    .page_1_text{
        width: 75%;
        font-size: calc(1.5vh + 1.5vh);
        text-align: center;
        color: white;
        padding-bottom: 2.5%;
    }
    .preview{
        width: 95%;
    }
}
.diff{
    font-family: 'Comic Neue', cursive;
    height: fit-content;
    max-width: 99.75vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: calc(2.5vh + 2.5vh);
    .diff_title{
        width: 75%;
        font-size: calc(2vh + 2vh);
        text-align: center;
        color: white;
        padding-bottom: 2.5%;
    }
    .diff_text{
        width: 75%;
        font-size: calc(1.25vh + 1.25vh);
        text-align: center;
        color: white;
    }
}
.flow_chart{
    font-family: 'Comic Neue', cursive;
    height: fit-content;
    max-width: 99.75vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: calc(2.5vh + 2.5vh);
    .flow_chart_title{
        width: 75%;
        font-size: calc(1.5vh + 1.5vh);
        text-align: center;
        color: white;
        padding-bottom: 2.5%;
    }
    .flow_chart_img{
        border: 1px dotted rgb(0, 0, 0);
        width: 75%;
    }
}
.download{
    font-family: 'Comic Neue', cursive;
    width: 100%;
    height: max-content;
    padding-top: calc(5vh + 5vh);
    padding-bottom: calc(6vh + 6vh);
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    .button{
            border: none;
            width: fit-content;
            font-size: calc(1vh + 1vh);
            margin-top: calc(.5vh + .5vh);
            margin-bottom: calc(.5vh + .5vh);
            color: black;
            background-color: rgba(255, 255, 255, 0.5);
            padding: calc(1vh + 1vw);
            border-radius: calc(.5vh + .5vw) ;
            text-decoration: none;
        }
}
.repo{
    font-family: 'Comic Neue', cursive;
    width: 100%;
    height: max-content;
    padding-top: calc(5vh + 5vh);
    padding-bottom: calc(5vh + 5vh);
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    .repo_text{
        width: 75%;
        font-size: calc(2vh + 2vh);
        text-align: center;
        color: white;
        padding-bottom: 2.5%;
    }
    .github_link{
        font-family: 'Comic Neue', cursive;
    text-decoration: none;
    color: white;
}
}
.copy_right{
    font-family: 'Comic Neue', cursive;
    bottom: 0;
    color: white;
    font-size: calc(1vh + 1vh);
    text-align: center;


    .user{
        color: #727272;
        text-decoration: none;
    }
}