@import url("https://fonts.googleapis.com/css2?family=Comic+Neue&display=swap");
body {
  background: url("./static/Background.png") center center fixed no-repeat;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  font-family: 'Comic Neue', cursive;
}

.banner {
  font-family: 'Comic Neue', cursive;
  width: 99.75vw;
  height: 95vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.banner .banner_image {
  margin-top: calc(2.5vh + 2.5vh);
  width: calc(30vh + 30vw);
  opacity: 0;
}

.banner .banner_text {
  width: 75%;
  font-size: calc(1.5vh + 1.5vh);
  text-align: center;
  color: white;
}

.banner .banner_quote {
  width: 75%;
  font-size: calc(1vh + 1vh);
  text-align: center;
  color: white;
  margin-top: calc(2vh + 2vh);
}

.page_1 {
  font-family: 'Comic Neue', cursive;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  max-width: 99.75vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: calc(10vh + 10vh);
}

.page_1 .page_1_text {
  width: 75%;
  font-size: calc(1.5vh + 1.5vh);
  text-align: center;
  color: white;
  padding-bottom: 2.5%;
}

.page_1 .preview {
  width: 95%;
}

.diff {
  font-family: 'Comic Neue', cursive;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  max-width: 99.75vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: calc(2.5vh + 2.5vh);
}

.diff .diff_title {
  width: 75%;
  font-size: calc(2vh + 2vh);
  text-align: center;
  color: white;
  padding-bottom: 2.5%;
}

.diff .diff_text {
  width: 75%;
  font-size: calc(1.25vh + 1.25vh);
  text-align: center;
  color: white;
}

.flow_chart {
  font-family: 'Comic Neue', cursive;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  max-width: 99.75vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: calc(2.5vh + 2.5vh);
}

.flow_chart .flow_chart_title {
  width: 75%;
  font-size: calc(1.5vh + 1.5vh);
  text-align: center;
  color: white;
  padding-bottom: 2.5%;
}

.flow_chart .flow_chart_img {
  border: 1px dotted black;
  width: 75%;
}

.download {
  font-family: 'Comic Neue', cursive;
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  padding-top: calc(5vh + 5vh);
  padding-bottom: calc(6vh + 6vh);
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.download .button {
  border: none;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: calc(1vh + 1vh);
  margin-top: calc(.5vh + .5vh);
  margin-bottom: calc(.5vh + .5vh);
  color: black;
  background-color: rgba(255, 255, 255, 0.5);
  padding: calc(1vh + 1vw);
  border-radius: calc(.5vh + .5vw);
  text-decoration: none;
}

.download .Note {
  width: 75%;
  color: red;
  font-size: calc(1.15vh + 1.15vh);
  text-align: center;
  font-style: italic;
}

.repo {
  font-family: 'Comic Neue', cursive;
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  padding-top: calc(5vh + 5vh);
  padding-bottom: calc(5vh + 5vh);
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.repo .repo_text {
  width: 75%;
  font-size: calc(2vh + 2vh);
  text-align: center;
  color: white;
  padding-bottom: 2.5%;
}

.repo .github_link {
  font-family: 'Comic Neue', cursive;
  text-decoration: none;
  color: white;
}

.copy_right {
  font-family: 'Comic Neue', cursive;
  bottom: 0;
  color: white;
  font-size: calc(1vh + 1vh);
  text-align: center;
}

.copy_right .user {
  color: #727272;
  text-decoration: none;
}
/*# sourceMappingURL=home.css.map */